/*Mobile Landscape*/
@media screen and (orientation: landscape) and (max-device-width: 667px){
	#nav li{
		float: left !important;
	}

	#nav li a{
		font-size: 15px !important;
	}

	#nav li ul.other{
		width: 133% !important;
	}

	#nav li ul.JR{
	    width: 265% !important;
	}

	#nav li ul.other li{
		width: 50% !important;
	}

	#nav li ul.JR li{
		width: 50% !important;
	}

	#nav li ul li a{
		margin: 0% 1% 0% 0%;
	}

	.container{
		margin: -2% 0% 0% 3% !important;
		width: 90% !important;
	}

	div.content{
		margin: 0% 5% 5% 3% !important;
	}

	ul.content{
		margin-left: -10% !important;
	}

	#metro .metro{
		font-size: 130% !important;
	}

	img{
		width: 100% !important;
	}

	#metro .metro img{
		margin: 2% 0 -4% 0 !important;
	}

	#marunouchi img{
		margin: 0 0 -3% 0 !important;
	}

	.metro img{
		width: 50px !important;
		margin: 0% 0% -4% 0% !important;
	}

	h2{
		margin: 10% 0 0 -2% !important;
	}
}